<%= form_for(@round) do |f| %>

  <div class="form-group">
    <label>Jugador 1:</label>
    <%= f.text_field :player1, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <label>Jugador 2:</label>
    <%= f.text_field :player2, class: 'form-control', required: true %>
  </div>

  <div class="actions">
    <%= link_to 'Atrás', root_path, class: 'btn btn-secondary' %>
    <%= f.submit 'Guardar', class: 'btn btn-primary' %>
  </div>
<% end %>
